div,
x {
  margin: 0;
}

pre-z,
z {
  message: x;
}

z {
  hello: 'here';
}

@media condition {
  body {
    width: 25px;
  }

  .a {
    my: own;
    hello: 'here';
    message: x;
  }

  div,
  x {
    width: 12px;
  }

  x {
    my: own;
  }
}

x {
  my: own;
}
